################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/286---2---casperdash.io-wallet-web-extension-mobile-app-/v16
